#seaside-game-area {
  background-color: rgba(0, 0, 0, 0.5);

  #seaside-draw-bag {
    background-image: url("img/draw-bag.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 44%;
    margin-left: 10px;
    width: 20vh;
    height: 20vh;
    background-size: contain;

    .seaside-token {
      top: 28%;
      left: 50%;
    }
  }

  #seaside-sea {
    display: flex;
    flex-direction: column;
    min-height: 75vh;
    background-color: darkblue;
  }

  .seaside-player {
    background: sandybrown;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;

    .seaside-player-row {
      display: flex;
      flex-direction: column;
      padding-top: 50px;

      .seaside-token {
        margin: 0;
        margin-top: -50px;
        margin-right: 10px;
      }

      &.seaside-player-row-BEACH {
        color: black;
      }

      &.seaside-player-row-ISOPOD {
        color: black;
      }

      &.seaside-player-row-SANDPIPER {
        color: black;
      }

      &.seaside-player-row-ROCK {
        color: black;
      }

      &.seaside-player-row-WAVE {
        color: black;
      }

      &.seaside-player-row-CRAB {
        color: black;
      }
    }
  }

  #seaside-other-players {
    height: 10vh;
    display: flex;
    flex-direction: row;
    gap: 10px;

    .seaside-other-player {
      flex-grow: 1;
      max-width: 33%;

      .seaside-player-row {
        flex-direction: column-reverse;
        padding-top: 0px;
      }

      &.possible-move {
        border: 5px dashed lightgreen !important;

        &.selected-move {
          border: 5px solid darkgreen !important;
        }
      }

      .seaside-token {
        height: 25px;
        width: 25px;
        margin-top: -20px;
        margin-right: 10px;
        border: 2px solid black;
      }
    }
  }

  #seaside-sea-area {
    margin: auto;
    height: 300px;
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;

    .seaside-sea-area-row {
      display: flex;
      height: 100px;
      width: 100%;
      padding-left: 50px;
    }
  }

  #seaside-player-area {
    background-color: sandybrown;
    height: 20vh;
  }

  .seaside-token {
    background-image: url("img/chips.png");
    height: 75px;
    width: 75px;
    background-repeat: no-repeat;
    background-size: 700%;
    position: absolute;
    border: 5px solid black;
    border-radius: 50%;
    flex: 0 0 auto;
    margin-left: -50px;
    position: relative;

    &.seaside-token-hidden {
      opacity: 0;
    }

    &.possible-move {
      border: 5px dashed lightgreen !important;

      &.selected-move {
        border: 5px solid darkgreen !important;
      }
    }

    &:hover {
      transform: scale(1.1);
      z-index: 1000;
    }

    &[data-active-type="WAVE"] {
      background-position-x: 0%
    }

    &[data-active-type="ROCK"] {
      background-position-x: 16.5%;
    }

    &[data-active-type="ISOPOD"] {
      background-position-x: 33%;
      border-color: lightblue;
    }

    &[data-active-type="SHELL"] {
      background-position-x: 49.5%;
      border-color: lightblue;
    }

    &[data-active-type="CRAB"] {
      background-position-x: 66%;
      border-color: lightblue;
    }

    &[data-active-type="SANDPIPER"] {
      background-position-x: 83%;
    }

    &[data-active-type="BEACH"] {
      background-position-x: 99.5%;
    }
  }
}

.possible-move {
  cursor: pointer;
}