@use '../node_modules/bga-zoom/bga-zoom';
@use '../node_modules/bga-help/bga-help';

#pagesection_gameview {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

#seaside-game-area {

  //direct child token selector
  >.seaside-token {
    position: absolute !important;
    top: 50%;
    left: -50%;
    height: 75px;
    width: 75px;
  }

  >div {
    display: inline-block;
    float: left;
  }
}

#seaside-discard {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  left: -100px;
}

#seaside-draw-bag {
  z-index: 98;
  height: 170px;
  width: 280px;
  bottom: 0;
  position: absolute;
  background-image: url(img/draw-bag.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 20px;

  .game-card {
    margin-left: 150px;
    margin-top: 35px;
  }
}

#seaside-sea-stock {
  height: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.seaside-player-name {
  position: absolute;
  color: white;
  z-index: 98;
  top: 15px;
  left: 50px;
  font-size: 20px;
  font-weight: 500;
}


.seaside-token {

  &:hover {
    z-index: 99;
  }

  .seaside-token-face {

    background-image: url("img/tokens.png");
    background-repeat: no-repeat;
    background-size: 765%;
    background-position-y: 75%;

    .seaside-token-back-icon {
      background-image: url(img/icons-white.png);
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: 21%;
      left: 69%;
      display: block;
      background-size: 130px;
      background-position-y: 1px;
      background-repeat: no-repeat;
      border-radius: 50%;
      background-color: #2F2F89;

      &[data-type="WAVE"] {
        background-position-x: -1%;
        background-size: 120px;
      }

      &[data-type="ROCK"] {
        background-position-x: 18%;
        background-size: 115px;
        background-position-y: 0px;
      }

      &[data-type="ISOPOD"] {
        background-position-x: 38%;
        background-size: 125px;
        background-position-y: 1px;
      }

      &[data-type="SHELL"] {
        background-position-x: 53.9%;
        background-size: 120px;
      }

      &[data-type="CRAB"] {
        background-position-x: 70.8%;
      }

      &[data-type="SANDPIPER"] {
        background-position-x: 85%;
      }

      &[data-type="BEACH"] {
        background-position-x: 101.2%;
        background-size: 139px;
        background-position-y: 0px;
      }
    }

    &[data-type="SHELL"],
    &[data-type="CRAB"],
    &[data-type="ISOPOD"] {
      .seaside-token-back-icon {
        background-image: url(img/icons-blue.png);
        background-color: white;
      }
    }

    &[data-type="WAVE"] {
      background-position-x: 1%;
    }

    &[data-type="ROCK"] {
      background-position-x: 17%;
    }

    &[data-type="ISOPOD"] {
      background-position-x: 33%;
    }

    &[data-type="SHELL"] {
      background-position-x: 50%;
    }

    &[data-type="CRAB"] {
      background-position-x: 66.5%;
    }

    &[data-type="SANDPIPER"] {
      background-position-x: 83%;
    }

    &[data-type="BEACH"] {
      background-position-x: 99.5%;
    }
  }
}

.seaside-sea-area-wrapper {
  width: 800px;
  height: 855px;
  background-color: #2F2F89;
  background-image: url("img/main-board-background.jpg");
  align-items: center;
  position: relative;

  .seaside-sea-stock-slot {
    .bga-cards_card {
      margin-left: -80px;
      transition: margin-left 0.3s ease;
    }
  }
}

.seaside-player-wrapper {
  margin-left: 20px;
  position: relative;
}

.seaside-player {
  background-image: url('img/player-background.jpg');
  background-size: cover;
  min-height: 400px;
  width: 750px;
  margin: 10px;
  padding-top: 90px;
  padding-bottom: 10px;

  .seaside-player-area-slot,
  .seaside-player-area-slot-sandpiper {
    flex-direction: column;
    align-self: start;

    >:first-child.bga-cards_card {
      margin-top: -0px;
    }

    >.bga-cards_card {
      margin-top: -80px;
      transition: margin-top 0.3s ease;
    }
  }
}

.seaside-player-area-stock-sandpiper {
  align-self: start;

  [data-slot-id="0"] {
    order: 100;
  }
}

/** Tooltip and help button **/

.seaside-help-container {
  position: relative;
  display: inline-block;
}

.helpful-buttons {
  bottom: 20px;
  left: 10px;
  z-index: 100;
}

.seaside-help-button {
  background-color: #232594;
  border-radius: 9999px;
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.seaside-help-tooltip {
  position: absolute;
  bottom: 110%;
  left: 0%;
  display: none;
  border: 5px solid white;
}

#seaside-player-aid {
  background-image: url("img/player-aid.jpg");
  width: 400px;
  aspect-ratio: 668/1002;
  display: block;
  background-size: contain;
}

#seaside-guage-bar-container {
  background-color: #181818;
  top: 25%;
  left: 24%;
  width: 7px;
  height: 60px;
  position: absolute;
  border: white 3px solid;
}

#seaside-guage-bar {
  background-color: #9BC9C7;
  position: absolute;
  bottom: 0;
  width: 100%;
  //border-top: 6px solid #FFF;
  box-sizing: border-box;
  animation: grow 1.5s ease-out forwards;
  transform-origin: bottom;
}

@keyframes grow {
  from {
    transform: scaleY(0);
  }
}

#seaside-endgame-scoring {
  display: none;
  position: absolute;
  height: 730px;
  width: 750px;
  margin-top: 91px;
  background-color: lightblue;
  z-index: 99;
  justify-self: center;
  border: 10px solid white;

  .bga-cards_card-counter {
    width: 100%;
    border-radius: 0;
    left: 0;
    font-size: 28px;
    height: 35px;
    top: -40px;
    box-shadow: none;
  }


  #seaside-endgame-scoring-title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    background: white;
    padding: 10px;
  }

  .seaside-endgame-scoring-player-name {
    position: absolute;
    bottom: -35px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #2F2F89;
    padding-top: 5px;
    left: 0px;
    padding-bottom: 5px;
    overflow: hidden;
    font-weight: 500;
  }

  .card-stock {
    width: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 575px;
    margin-top: 45px;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;

    .bga-cards_card {
      margin-bottom: -90px;
    }

    :nth-child(4).bga-cards_card {
      margin-bottom: 0px;
    }
  }
}

#seaside-endgame-scoring-solo-text {
  opacity: 0;
  animation: fadeIn 1s ease-in-out;
  position: absolute;
  width: 200px;
  height: 505px;
  top: 78px;
  left: 154px;
  font-weight: 300;
  font-size: 24px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}




.seaside-sea-stock-slot {

  .seaside-token:has(.bga-cards_selectable-card),
  .seaside-token:has(.bga-cards_selected-card) {
    margin-left: -50px;
  }
}

.seaside-player {

  .seaside-token:has(.bga-cards_selectable-card),
  .seaside-token:has(.bga-cards_selected-card) {
    margin-top: -50px;
  }
}

.seaside-token-tooltip-contents {
  display: flex;
  flex-direction: row;
  gap: 3px;

  :first-child.seaside-token-tooltip-side {
    border-right: 2px solid black;
    margin-left: 0;
    padding-right: 5px;
  }

  .seaside-token-tooltip-side {
    width: 100px;
    margin-left: 10px;
    h4 {
      margin: 0;
    }

    p {
      margin-top: 5px;
    }
  }
}